<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AddDateFolder" value="true"/>
		<add key="BackupSaveLocation" value="s:\temp"/>
		<add key="FolderToBackup0" value="C:\dev\Projects\TeliaSonera\common-outbound-logistics-tool\Colt\WebApi"/>
		<add key="FolderToBackup1" value="C:\dev\Projects\MWS\LM\LM"/>

	</appSettings>
</configuration>