# git ignore file
#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
*/!!*Deploy*
#Tooling
_ReSharper*/
*.resharper
*.idea
#*.config
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#Rider files - workaround for having runConfigurations in git
!*/.idea/
*/.idea/*
!*/.idea/.idea.*/
*/.idea/.idea.*/*
!*/.idea/.idea.*/.idea/
*/.idea/.idea.*/.idea/*
!*/.idea/.idea.*/.idea/runConfigurations
